.size_9 { font-size: 9.5px; }
.size_12 { font-size: 12.5px; }
.size_14 { font-size: 14px; }
.size_16 { font-size: 16px; }
.size_20 { font-size: 20px; }

.level_1 { font-size: 2.2rem; }
.level_2 { font-size: 2rem; }
.level_3 { font-size: 1.8rem; }
.level_4 { font-size: 1.6rem; }
.level_5 { font-size: 1.4rem; }
.level_6 { font-size: 1.2rem; }

.levelSmall_1 { font-size: 1.6rem; }
.levelVerySmall_1 { font-size: 1rem; }
.levelSmall_2 { font-size: 1.4rem; }
.levelSmall_3 { font-size: 1.2rem; }
.levelSmall_4 { font-size: 1rem; }
.levelSmall_5 { font-size: .8rem; }
.levelSmall_6 { font-size: .6rem; }
