.all_4 { margin: 4px; }
.bottom_4 { margin-bottom: 4px; }
.left_4 { margin-left: 4px; }
.right_4 { margin-right: 4px; }
.top_4 { margin-top: 4px; }

.all_8 { margin: 8px; }
.bottom_8 { margin-bottom: 8px; }
.left_8 { margin-left: 8px; }
.right_8 { margin-right: 8px; }
.top_8 { margin-top: 8px; }

.all_16 { margin: 16px; }
.bottom_16 { margin-bottom: 16px; }
.left_16 { margin-left: 16px; }
.right_16 { margin-right: 16px; }
.top_16 { margin-top: 16px; }

.all_24 { margin: 24px; }
.bottom_24 { margin-bottom: 24px; }
.left_24 { margin-left: 24px; }
.right_24 { margin-right: 24px; }
.top_24 { margin-top: 24px; }

.all_32 { margin: 32px; }
.bottom_32 { margin-bottom: 32px; }
.left_32 { margin-left: 32px; }
.right_32 { margin-right: 32px; }
.top_32 { margin-top: 32px; }

.all_40 { margin: 40px; }
.bottom_40 { margin-bottom: 40px; }
.left_40 { margin-left: 40px; }
.right_40 { margin-right: 40px; }
.top_40 { margin-top: 40px; }

.all_48 { margin: 48px; }
.bottom_48 { margin-bottom: 48px; }
.left_48 { margin-left: 48px; }
.right_48 { margin-right: 48px; }
.top_48 { margin-top: 48px; }

.all_56 { margin: 56px; }
.bottom_56 { margin-bottom: 56px; }
.left_56 { margin-left: 56px; }
.right_56 { margin-right: 56px; }
.top_56 { margin-top: 56px; }

.all_64 { margin: 64px; }
.bottom_64 { margin-bottom: 64px; }
.left_64 { margin-left: 64px; }
.right_64 { margin-right: 64px; }
.top_64 { margin-top: 64px; }

.all_72 { margin: 72px; }
.bottom_72 { margin-bottom: 72px; }
.left_72 { margin-left: 72px; }
.right_72 { margin-right: 72px; }
.top_72 { margin-top: 72px; }

.all_80 { margin: 80px; }
.bottom_80 { margin-bottom: 80px; }
.left_80 { margin-left: 80px; }
.right_80 { margin-right: 80px; }
.top_80 { margin-top: 80px; }

.all_88 { margin: 88px; }
.bottom_88 { margin-bottom: 88px; }
.left_88 { margin-left: 88px; }
.right_88 { margin-right: 88px; }
.top_88 { margin-top: 88px; }

.all_96 { margin: 96px; }
.bottom_96 { margin-bottom: 96px; }
.left_96 { margin-left: 96px; }
.right_96 { margin-right: 96px; }
.top_96 { margin-top: 96px; }
