.height_8 { min-height: 8px; }
.height_16 { min-height: 16px; }
.height_24 { min-height: 24px; }
.height_32 { min-height: 32px; }
.height_40 { min-height: 40px; }
.height_48 { min-height: 48px; }
.height_56 { min-height: 56px; }
.height_64 { min-height: 64px; }
.height_72 { min-height: 72px; }
.height_80 { min-height: 80px; }
.height_88 { min-height: 88px; }
.height_96 { min-height: 96px; }
.height_104 { min-height: 104px; }
.height_112 { min-height: 112px; }
.height_120 { min-height: 120px; }
.height_128 { min-height: 128px; }
.height_136 { min-height: 136px; }
.height_144 { min-height: 144px; }
.height_152 { min-height: 152px; }
.height_160 { min-height: 160px; }
.height_168 { min-height: 168px; }
.height_176 { min-height: 176px; }
.height_184 { min-height: 184px; }
.height_192 { min-height: 192px; }
.height_200 { min-height: 200px; }
.height_208 { min-height: 208px; }
.height_216 { min-height: 216px; }
.height_224 { min-height: 224px; }
.height_232 { min-height: 232px; }
.height_240 { min-height: 240px; }
.height_248 { min-height: 248px; }
.height_256 { min-height: 256px; }
.height_264 { min-height: 264px; }
.height_272 { min-height: 272px; }
.height_280 { min-height: 280px; }
.height_288 { min-height: 288px; }
.height_296 { min-height: 296px; }
.height_304 { min-height: 304px; }
.height_312 { min-height: 312px; }
.height_320 { min-height: 320px; }
.height_328 { min-height: 328px; }
.height_336 { min-height: 336px; }
.height_344 { min-height: 344px; }
.height_352 { min-height: 352px; }
.height_360 { min-height: 360px; }
.height_368 { min-height: 368px; }
.height_376 { min-height: 376px; }
.height_384 { min-height: 384px; }
.height_392 { min-height: 392px; }
.height_400 { min-height: 400px; }
.height_408 { min-height: 408px; }
.height_416 { min-height: 416px; }
.height_424 { min-height: 424px; }
.height_432 { min-height: 432px; }
.height_440 { min-height: 440px; }
.height_448 { min-height: 448px; }
.height_456 { min-height: 456px; }
.height_464 { min-height: 464px; }
.height_472 { min-height: 472px; }
.height_480 { min-height: 480px; }
.height_488 { min-height: 488px; }
.height_496 { min-height: 496px; }
.height_504 { min-height: 504px; }
.height_512 { min-height: 512px; }
.height_520 { min-height: 520px; }
.height_528 { min-height: 528px; }
.height_536 { min-height: 536px; }
.height_544 { min-height: 544px; }
.height_552 { min-height: 552px; }
.height_560 { min-height: 560px; }
.height_568 { min-height: 568px; }
.height_576 { min-height: 576px; }

.width_8 { min-width: 8px; }
.width_16 { min-width: 16px; }
.width_24 { min-width: 24px; }
.width_32 { min-width: 32px; }
.width_40 { min-width: 40px; }
.width_48 { min-width: 48px; }
.width_56 { min-width: 56px; }
.width_64 { min-width: 64px; }
.width_72 { min-width: 72px; }
.width_80 { min-width: 80px; }
.width_88 { min-width: 88px; }
.width_96 { min-width: 96px; }
.width_104 { min-width: 104px; }
.width_112 { min-width: 112px; }
.width_120 { min-width: 120px; }
.width_128 { min-width: 128px; }
.width_136 { min-width: 136px; }
.width_144 { min-width: 144px; }
.width_152 { min-width: 152px; }
.width_160 { min-width: 160px; }
.width_168 { min-width: 168px; }
.width_176 { min-width: 176px; }
.width_184 { min-width: 184px; }
.width_192 { min-width: 192px; }
.width_200 { min-width: 200px; }
.width_208 { min-width: 208px; }
.width_216 { min-width: 216px; }
.width_224 { min-width: 224px; }
.width_232 { min-width: 232px; }
.width_240 { min-width: 240px; }
.width_248 { min-width: 248px; }
.width_256 { min-width: 256px; }
.width_264 { min-width: 264px; }
.width_272 { min-width: 272px; }
.width_280 { min-width: 280px; }
.width_288 { min-width: 288px; }
.width_296 { min-width: 296px; }
.width_304 { min-width: 304px; }
.width_312 { min-width: 312px; }
.width_320 { min-width: 320px; }
.width_328 { min-width: 328px; }
.width_336 { min-width: 336px; }
.width_344 { min-width: 344px; }
.width_352 { min-width: 352px; }
.width_360 { min-width: 360px; }
.width_368 { min-width: 368px; }
.width_376 { min-width: 376px; }
.width_384 { min-width: 384px; }
.width_392 { min-width: 392px; }
.width_400 { min-width: 400px; }
.width_408 { min-width: 408px; }
.width_416 { min-width: 416px; }
.width_424 { min-width: 424px; }
.width_432 { min-width: 432px; }
.width_440 { min-width: 440px; }
.width_448 { min-width: 448px; }
.width_456 { min-width: 456px; }
.width_464 { min-width: 464px; }
.width_472 { min-width: 472px; }
.width_480 { min-width: 480px; }
.width_488 { min-width: 488px; }
.width_496 { min-width: 496px; }
.width_504 { min-width: 504px; }
.width_512 { min-width: 512px; }
.width_520 { min-width: 520px; }
.width_528 { min-width: 528px; }
.width_536 { min-width: 536px; }
.width_544 { min-width: 544px; }
.width_552 { min-width: 552px; }
.width_560 { min-width: 560px; }
.width_568 { min-width: 568px; }
.width_576 { min-width: 576px; }
