.all_4 { padding: 4px; }
.bottom_4 { padding-bottom: 4px; }
.left_4 { padding-left: 4px; }
.right_4 { padding-right: 4px; }
.top_4 { padding-top: 4px; }

.all_8 { padding: 8px; }
.bottom_8 { padding-bottom: 8px; }
.left_8 { padding-left: 8px; }
.right_8 { padding-right: 8px; }
.top_8 { padding-top: 8px; }

.all_16 { padding: 16px; }
.bottom_16 { padding-bottom: 16px; }
.left_16 { padding-left: 16px; }
.right_16 { padding-right: 16px; }
.top_16 { padding-top: 16px; }

.all_24 { padding: 24px; }
.bottom_24 { padding-bottom: 24px; }
.left_24 { padding-left: 24px; }
.right_24 { padding-right: 24px; }
.top_24 { padding-top: 24px; }

.all_32 { padding: 32px; }
.bottom_32 { padding-bottom: 32px; }
.left_32 { padding-left: 32px; }
.right_32 { padding-right: 32px; }
.top_32 { padding-top: 32px; }

.all_40 { padding: 40px; }
.bottom_40 { padding-bottom: 40px; }
.left_40 { padding-left: 40px; }
.right_40 { padding-right: 40px; }
.top_40 { padding-top: 40px; }

.all_48 { padding: 48px; }
.bottom_48 { padding-bottom: 48px; }
.left_48 { padding-left: 48px; }
.right_48 { padding-right: 48px; }
.top_48 { padding-top: 48px; }

.all_56 { padding: 56px; }
.bottom_56 { padding-bottom: 56px; }
.left_56 { padding-left: 56px; }
.right_56 { padding-right: 56px; }
.top_56 { padding-top: 56px; }

.all_64 { padding: 64px; }
.bottom_64 { padding-bottom: 64px; }
.left_64 { padding-left: 64px; }
.right_64 { padding-right: 64px; }
.top_64 { padding-top: 64px; }

.all_72 { padding: 72px; }
.bottom_72 { padding-bottom: 72px; }
.left_72 { padding-left: 72px; }
.right_72 { padding-right: 72px; }
.top_72 { padding-top: 72px; }

.all_80 { padding: 80px; }
.bottom_80 { padding-bottom: 80px; }
.left_80 { padding-left: 80px; }
.right_80 { padding-right: 80px; }
.top_80 { padding-top: 80px; }

.all_88 { padding: 88px; }
.bottom_88 { padding-bottom: 88px; }
.left_88 { padding-left: 88px; }
.right_88 { padding-right: 88px; }
.top_88 { padding-top: 88px; }

.all_96 { padding: 96px; }
.bottom_96 { padding-bottom: 96px; }
.left_96 { padding-left: 96px; }
.right_96 { padding-right: 96px; }
.top_96 { padding-top: 96px; }
