.total { border-radius: 50%; }

.all_4 { border-radius: 4px; }
.bottomLeft_4 { border-bottom-left-radius: 4px; }
.bottomRight_4 { border-bottom-right-radius: 4px; }
.topLeft_4 { border-top-left-radius: 4px; }
.topRight_4 { border-top-right-radius: 4px; }

.all_8 { border-radius: 8px; }
.bottomLeft_8 { border-bottom-left-radius: 8px; }
.bottomRight_8 { border-bottom-right-radius: 8px; }
.topLeft_8 { border-top-left-radius: 8px; }
.topRight_8 { border-top-right-radius: 8px; }

.all_16 { border-radius: 16px; }
.bottomLeft_16 { border-bottom-left-radius: 16px; }
.bottomLRight16 { border-bottom-right-radius: 16px; }
.topLeft_16 { border-top-left-radius: 16px; }
.topRight_16 { border-top-right-radius: 16px; }

.all_24 { border-radius: 24px; }
.bottomLeft_24 { border-bottom-left-radius: 24px; }
.bottomLRight24 { border-bottom-right-radius: 24px; }
.topLeft_24 { border-top-left-radius: 24px; }
.topRight_24 { border-top-right-radius: 24px; }

.all_32 { border-radius: 32px; }
.bottomLeft_32 { border-bottom-left-radius: 32px; }
.bottomLRight32 { border-bottom-right-radius: 32px; }
.topLeft_32 { border-top-left-radius: 32px; }
.topRight_32 { border-top-right-radius: 32px; }

.all_40 { border-radius: 40px; }
.bottomLeft_40 { border-bottom-left-radius: 40px; }
.bottomLRight40 { border-bottom-right-radius: 40px; }
.topLeft_40 { border-top-left-radius: 40px; }
.topRight_40 { border-top-right-radius: 40px; }

.all_48 { border-radius: 48px; }
.bottomLeft_48 { border-bottom-left-radius: 48px; }
.bottomLRight48 { border-bottom-right-radius: 48px; }
.topLeft_48 { border-top-left-radius: 48px; }
.topRight_48 { border-top-right-radius: 48px; }

.all_56 { border-radius: 56px; }
.bottomLeft_56 { border-bottom-left-radius: 56px; }
.bottomLRight56 { border-bottom-right-radius: 56px; }
.topLeft_56 { border-top-left-radius: 56px; }
.topRight_56 { border-top-right-radius: 56px; }

.all_64 { border-radius: 64px; }
.bottomLeft_64 { border-bottom-left-radius: 64px; }
.bottomLRight64 { border-bottom-right-radius: 64px; }
.topLeft_64 { border-top-left-radius: 64px; }
.topRight_64 { border-top-right-radius: 64px; }

.all_72 { border-radius: 72px; }
.bottomLeft_72 { border-bottom-left-radius: 72px; }
.bottomLRight72 { border-bottom-right-radius: 72px; }
.topLeft_72 { border-top-left-radius: 72px; }
.topRight_72 { border-top-right-radius: 72px; }

.all_80 { border-radius: 80px; }
.bottomLeft_80 { border-bottom-left-radius: 80px; }
.bottomLRight80 { border-bottom-right-radius: 80px; }
.topLeft_80 { border-top-left-radius: 80px; }
.topRight_80 { border-top-right-radius: 80px; }

.all_88 { border-radius: 88px; }
.bottomLeft_88 { border-bottom-left-radius: 88px; }
.bottomLRight88 { border-bottom-right-radius: 88px; }
.topLeft_88 { border-top-left-radius: 88px; }
.topRight_88 { border-top-right-radius: 88px; }

.all_96 { border-radius: 96px; }
.bottomLeft_96 { border-bottom-left-radius: 96px; }
.bottomLRight96 { border-bottom-right-radius: 96px; }
.topLeft_96 { border-top-left-radius: 96px; }
.topRight_96 { border-top-right-radius: 96px; }

